#app3 {
    border: 1px solid greenyellow;
}
#app3 .square {
    width: 100px;
    height: 100px;
    border: 1px solid  grey;
    margin-top: 100px;
    margin-left: 100px;
    transition: transform 1s;
}

#app3 .active{
    transform: translateX(300px);
}